  <div class='display-container'>
  <div class="info-container">
    <% unless @published.nil? %>
    <h1>Your Published Games</h1>
        <hr class="game-line">
      <% @published.each do |game|  %>
      <div class='pub-games'>
        <p class="game-title"><%= game.title %></p>
        <span> <%= link_to edit_game_path(game), class: "edit-btn" do%></span>
                <i class="far fa-edit"></i>
              <% end %>
             <span> <%= button_to game_path(game), method: 'delete', class: "delete-btn" do%></span>
                <i class="far fa-trash-alt"></i>
              <% end %>
      </div>
      <% end  %>
    <% end %>

  <h1 class="top-space">Your Game Keys</h1>
  <hr class="game-line">
    <% @games.length.times do |i| %>
    <div class='key-games'>
      <span><%= @games.game_title(i) %></span>
      <span><%= @games.game_key(i) %></span>

    </div>
    <% end %>
    <% if can? :create, Game %>
  <% end %>
  </div>
</div>  
</div>