<%= render 'shared/banneradd' %>

<div class='user_grid'>
  <div class='bio_display'>
  <% unless @user_avatar.nil? %>
    <div class='avatar'>avatar
      <%= image_tag @user_avatar%>
    </div>
  <% end %>
      <p><%= link_to 'Edit Proflie', edit_user_registration_path %></p>

    <div class='details'>details</div>
  </div>
  
  <div class='games_display'>
    <% unless @published.nil? %>
    <h1>Your Published Games</h1>
      <% @published.each do |game|  %>
        <div class='games'>
          <h1><%= game.title %></h1>
          <div class='publishes_games_buttons'>
            <p><%= link_to 'Edit', edit_game_path(game), class: 'custom_submit' %></p>
            <p><%= button_to 'Delete', game_path(game), class: 'custom_submit', method: 'delete' %></p>
          </div>
        </div>
      <% end  %>
    <% end %>
  <h1>Your Game Keys</h1>
    <% @games.length.times do |i| %>
    <div class='games'>
      <h1><%= @games.game_title(i) %></h1>
      <h2><%= @games.game_publisher(i) %></h2>
      <h3><%= @games.game_key(i) %></h3>
    </div>
    <% end %>
    <% if can? :create, Game %>
    
  <% end %>
  </div>
</div>