<div class='signup-container'>
  <h1 class='registration_headings'> Your Cart </h1>
  <div class='cart_box'>
    <h1>Game and Price</h1>

      <div class='game_spacing'>
      <p><% @cart_items.each do |i| %></p>
      <p><%= button_to 'Delete', cart_path(i), method: 'delete' %></p>
        <div class='cart_game_title'><%= i.game.title %></div> <div class='cart_price'><%= i.game.price_to_string %></p></div>

      <% end %>
      </div>

      <div class='price_spacing'>
      <div><p>Total</p></div><div class='cart_price'><u><%= @price_string %></u></div>
      </div>
      
  </div>

  <%= render "shared/stripe_cart" %>
</div>