<div class='signup-container'>
  <h1 class='registration_headings'>Sign up</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.text_field :first_name, placeholder: "First Name", autofocus: true, autocomplete: "first-name", :class=>"field" %>
      <%= f.text_field :last_name, placeholder: "Last Name", autofocus: true, autocomplete: "last-name", :class=>"field" %>
      <%= f.text_field :username, placeholder: "Username", autofocus: true, autocomplete: "username", :class=>"field" %>
      <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", :class=>"field" %>

      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, placeholder: "Password - 6 Characters Minimum", autocomplete: "new-password", :class=>"field" %>
      <%= f.password_field :password_confirmation, placeholder: "Re-Enter Password", autocomplete: "new-password", :class=>"field" %>
      <div class="checkbox">
        <div class='checkbox_spacing'>
          <input type="checkbox" required>
          <label class="container">Are you over the Age of 13?</label>
        </div>

        <div class='checkbox_spacing'>
          <input type="checkbox" required>
          <label class="container">Do you agree to our <u>Terms & Conditions</u></label>
        </div>

        <div class='checkbox_spacing'>
          <input type="checkbox" >
          <label class="container"><%= f.check_box :seller%>Do you want to publish games?</label>
        </div>
      </div>

      <%= f.submit "Sign up", class: 'submit_button' %>

  <% end %>
</div>