<div class='signup-container'>
  <h1 class='registration_headings'>Edit your Game Brah!</h1>
  <%= form_for @game do |f| %>

  <div class="field">
    <%= f.text_field :title, placeholder: "Title" %>
  </div>

  <div class='field'>
  <%= f.text_field :genre, placeholdar: 'Genre' %>
  </div>

  <div class='field'>
  <%= f.number_field :price, placeholder: 'Price', step: 0.01 %>
  </div>

  <div class='field'>
  <%= f.text_area :description, placeholder: 'Description' %>
  </div>

  <div class='button_spacing'>
  <%= f.submit "UPDATE", class: 'custom_submit' %>
  </div>
  <% end %>

</div>