<div class='new_edit_form'>
  <h1>Edit your Game Brah!</h1>
  <%= form_for @game do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :genre %>
  <%= f.text_field :genre %>

  <%= f.label :price %>
  <%= f.number_field :price, step: 0.01 %>

  <%= f.label :descripion %>
  <%= f.text_area :description %>

  <%= f.submit "UPDATE" %>
  <% end %>

  <%= link_to 'Home', :root %>
</div>