<div class='signup-container'>
<h1 class='registration_headings'>Publish a New Game!</h1>
  <%= form_for @game do |f| %>
    <%= f.text_field :title, placeholder: "Game Title", :class=>"field" %>
    <%= f.text_field :genre, placeholder: "Genre", :class=>"field" %>
    <%= f.number_field :price, step: 0.01, placeholder: "Price", :class=>"field" %>
    <%= f.text_area :description, placeholder: "Description of Game", :class=>"field" %>

    <br>
    <div class='button_spacing'>
      <label class='custom_submit'>
        Upload Images
        <span style="display:none;">
        <%= f.file_field :images, class: "custom_submit", multiple: true, accept: 'image/jpg, image/png' %>
        </span>
      </label>
    </div>
    <%= f.submit "Publish Now!", class: 'submit_button' %>
  <% end %>
</div>
