<div class='signup-container'>
<h1 class='registration_headings'>Publish a New Game!</h1>
  <%= form_for @game do |f| %>
  <div class='field'>
    <%= f.text_field :title, placeholder: "Game Title" %>
  </div>
  <br>
  <div class='field'>
    <%= f.text_field :genre, placeholder: "Genre" %>
  </div>
  <br>
  <div class='field'>
    <%= f.number_field :price, step: 0.01, placeholder: "Price" %>
  </div>
  <br>
  <div class='field'>
    <%= f.text_area :description, placeholder: "Description of Game" %>
  </div>
  <br>
  <div class='button_spacing'>
    <label class='custom_submit'>
      Upload Images
      <span style="display:none;">
      <%= f.file_field :images, class: "custom_submit", multiple: true, accept: 'image/jpg, image/png' %>
      </span>
    </label>
      <%= f.submit "Publish Now!", class: 'custom_submit' %>
  </div>
  <% end %>
</div>
