<h1>Publish a New Game Brah!</h1>

<div class='new_edit_form'>
  <%= form_for @game do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :genre %>
  <%= f.text_field :genre %>

  <%= f.label :price %>
  <%= f.number_field :price, step: 0.01 %>

  <%= f.label :descripion %>
  <%= f.text_area :description %>

  <%= f.label :images %>
  <%= f.file_field :images, multiple: true, accept: 'image/jpg, image/png' %>

  <%= f.submit "Publish Now!" %>
  <% end %>
</div>
