<h1><%= @game.title %></h1>
<p>Price $<%= (@game.price / 100)%></p>
<p>Genre: <%= @game.genre %></p>
<p>Description: <%= @game.description %></p>
<p>Publisher: <%= @game.publisher.user.username %></p>
<% if can? :update, @game %>
<p>Only Publishers should see this</p>
<% end  %>