<!DOCTYPE html>
<html>
  <head>
    <title>PlaynowRailsproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render 'shared/navbar' %>
  
  <% flash.each do |key, value| %>
    <%= value %>
  <% end %>

    <%= yield %>
  </body>
</html>
